*{
 margin:0;
 padding:0;
 box-sizing:border-box;
}
.guna{
	height:35vh;
}
.center{
	padding-top:25px;
	font-family:timesnewroman;
	}
.fa{
	margin-right:10px;
	margin-top:10px;
	
}	
.fa:hover{
	color:orange;
}
.tag::before{
		content:"";
		border:1px solid red;
		width:15%;
		position:absolute;
		top:35%;
		left:40%;
		
}
	